<div *ngIf="user" class="row">
  <div class="container">
    <div class="row justify-content-md-left">
      <div class="col-md-auto">

        <button *ngIf="isOwn" class="btn btn-primary btn-block" routerLink="/edit">
          edit
        </button>
        <button *ngIf="!isOwn && !isFriend" class="btn btn-warning btn-block" (click)="friendship()">
          add to friends
        </button>
        <button *ngIf="!isOwn && isFriend" class="btn btn-warning btn-block" (click)="friendship()">
          delete from friends
        </button>

      </div>
      <div class="col-lg-8">
        <div class="col-lg-12 col-md-3 mx-auto">
          <table class="table table-hover h5">
            <tbody>
            <tr class="table-borderless">
              <td style="text-align: left">login</td>
              <td style="text-align: left">{{user.login}}</td>

            </tr>

            <tr>
              <td style="text-align: left">first name</td>
              <td style="text-align: left">{{user.firstName}}</td>
            </tr>
            <tr>
              <td style="text-align: left">second name</td>
              <td style="text-align: left">{{user.secondName}}</td>
            </tr>
            <tr>
              <td style="text-align: left">profile</td>
              <td style="text-align: left">{{user.profile}}</td>
            </tr>
            <tr>
              <td style="text-align: left">rating</td>
              <td style="text-align: left"> {{user.rating}}
                <img src="../../../assets/images/ratings-icon.jpg" width="30" height="30" align="bottom"/></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
