<nav class="row">
  <div class="col"></div>
  <div class="nav nav-tabs col-9" id="nav-tab" role="tablist">
    <button class="nav-item nav-link" [ngClass]="{'active':firstSelected}" id="nav-home-tab" data-toggle="tab" role="tab"
            aria-controls="nav-favorite" aria-selected="true" (click)="firstSelected = true">Edit Personal Data
    </button>
    <button class="nav-item nav-link" [ngClass]="{'active':!firstSelected}" id="nav-profile-tab" data-toggle="tab" role="tab"
            aria-controls="nav-completed" aria-selected="false" (click)="firstSelected = false">Change Password
    </button>
  </div>
  <div class="col"></div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" [ngClass]="{'show active':firstSelected}" id="nav-personal-data" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="container" *ngIf="user">
      <h3 class="col-sm-10 text-center offset-md-1 mt-4">Edit Personal Data</h3>
      <div class="row">
        <div class="col"></div>
        <div>
          <label class="text-center" style="width: 100%">
            <span class="btn">change photo</span>
            <input class="d-none"  style="width: 100%" #imageInput
                   type="file" accept="image/*"
                   (change)="uploadFile(imageInput)"/>
          </label>
          <div class="img-preview-container col text-center"
               [ngStyle]="{ 'background-image': 'url(data:image/jpeg;base64,' + user.image.src  + ')'}">
          </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="form-horizontal align-content-center">
        <div class="form-group required"><label
          class="col-md-2 control-label offset-md-1">First Name</label>
          <div class="col-sm-10 offset-md-1">
            <input type="text" placeholder="First Name" class="form-control" [(ngModel)]="user.firstName"
                   #firstname="ngModel"
                   pattern="^[a-zA-Zа-яА-Яієї']{2,25}$" aria-describedby="fnHelp">
            <small id="fnHelp" class="form-text text-danger"
                   [hidden]="firstname.valid && user.firstName.length>1 || firstname.untouched">
              No Valid First Name
            </small>
          </div>
        </div>
        <div class="form-group required"><label
          class="col-md-2 control-label offset-md-1">Last Name</label>
          <div class="col-sm-10 offset-md-1">
            <input type="text" placeholder="Last Name" class="form-control" [(ngModel)]="user.secondName"
                   #lastname="ngModel"
                   pattern="^[a-zA-Zа-яА-Яієї']{2,25}$" aria-describedby="lnHelp">
            <small id="lnHelp" class="form-text text-danger"
                   [hidden]="lastname.valid && user.secondName.length>1  || lastname.untouched">
              No Valid Last Name
            </small>
          </div>
        </div>
<!--        <div class="form-group required"><label class="col-md-2 control-label offset-md-1">E-mail</label>-->
<!--          <div class="col-sm-10 offset-md-1">-->
<!--            <input type="email" placeholder="Email" class="form-control" [(ngModel)]="user.mail"-->
<!--                   #email="ngModel"-->
<!--                   pattern="^[A-z\d._]+@[A-z]+\.[A-z]+$" aria-describedby="emailHelp">-->
<!--            <small id="emailHelp" class="form-text text-danger"-->
<!--                   [hidden]="email.valid && user.mail.length>1 || email.untouched">-->
<!--              No Valid Mail-->
<!--            </small>-->
<!--          </div>-->
<!--        </div>-->
        <div class="form-group"><label class="col-md-2 control-label offset-md-1">Description</label>
          <div class="col-sm-10 offset-md-1">
            <input type="text" placeholder="Description" class="form-control" [(ngModel)]="user.profile"
                   #profile="ngModel"
                   aria-describedby="profileHelp">
            <small id="profileHelp" class="form-text text-danger" [hidden]="user.profile.length<=100">
              No Valid Description
            </small>
          </div>
        </div>

        <div class="row">
          <div class="form-check col-sm-5 offset-md-1">
            <button
              [disabled]="!firstname.valid || !lastname.valid || user.secondName.length<2 ||
               user.firstName.length<2 || !profile.valid || user.profile.length>100"
              (click)="edit(id,firstname.value, lastname.value, profile.value)"

              class="btn btn-block col-sm-12 blue">
              save
            </button>
          </div>

          <div class="form-check col-sm-5">
            <button routerLink="../profile"
                    class="btn btn-outline-secondary btn-block active col-sm-12">
              cancel
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="tab-pane fade" [ngClass]="{'show active':!firstSelected}" id="nav-password" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container">
      <h3 class="col-sm-10 text-center offset-md-1 mt-4">Change Password</h3>
      <div class="form-horizontal align-content-center">
        <div class="form-group required"><label
          class="col-md-2 control-label offset-md-1">Current Password</label>
          <div class="col-sm-10 offset-md-1">
            <input type="password" placeholder="Current password" class="form-control" autofocus #currentPassword>
          </div>
        </div>

        <div class="form-group required"><label
          class="col-md-2 control-label offset-md-1">New Password</label>
          <div class="col-sm-10 offset-md-1">
            <input type="password" placeholder="Password" class="form-control"
                   [(ngModel)]="passwordNew"
                   #newPassword="ngModel"
                   pattern="^.{8,}$" aria-describedby="passHelp">
            <small id="passHelp" class="form-text text-danger" [hidden]="newPassword.valid || newPassword.untouched">
              No Valid Password
            </small>
          </div>
        </div>

        <div class="form-group required"><label
          class="col-md-2 control-label offset-md-1">Confirm Password</label>
          <div class="col-sm-10 offset-md-1">
            <input type="password" placeholder="Confirm password" class="form-control" autofocus #confirmPassword>
          </div>
        </div>


        <div class="row">
          <div class="form-check col-sm-5 offset-md-1">
            <button
              [disabled]="!newPassword.valid"
              (click)="checkPasswords(currentPassword.value,newPassword.value, confirmPassword.value)"
              class="btn blue btn-block col-sm-12">
              save
            </button>
          </div>

          <div class="form-check col-sm-5">
            <button routerLink="../profile"
                    class="btn btn-outline-secondary btn-block active col-sm-12">
              cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
