<div class="container custom col-6">

  <h3 class="text-center">Registration</h3>

  <div class="form-group row">
    <div class="col">
      <input type="text" placeholder="First name"
             class="form-control" [(ngModel)]="user.firstName" #firstname="ngModel"
             pattern="^[a-zA-Zа-яА-Яієї']{2,25}$" aria-describedby="fnHelp">
      <small id="fnHelp" class="form-text text-danger" [hidden]="firstname.valid || firstname.untouched">
        First name is not valid
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <input type="text" placeholder="Second name"
             class="form-control" [(ngModel)]="user.secondName" #secondName="ngModel"
             pattern="^[a-zA-Zа-яА-Яієї']{2,25}$" aria-describedby="lnHelp">
      <small id="lnHelp" class="form-text text-danger" [hidden]="secondName.valid || secondName.untouched">
        Second name is not valid
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <input type="text" placeholder="Login" aria-describedby="lHelp" #login="ngModel"
             class="form-control" [(ngModel)]="user.login" >
      <small id="lHelp" class="form-text text-danger" [hidden]="login.untouched || (user.login.length > 0)">
        Login is not valid
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <input type="email" placeholder="E mail" class="form-control" [(ngModel)]="user.mail"
             #email="ngModel" pattern="^[A-z\d._]+@[A-z]+\.[A-z]+$" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-danger" [hidden]="email.valid || email.untouched">
        Mail is not valid
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <input type="password" placeholder="password"
             class="form-control" [(ngModel)]="user.password" #password="ngModel"
             pattern="^.{8,}$" aria-describedby="passHelp">
      <small id="passHelp" class="form-text text-danger" [hidden]="password.valid || password.untouched">
        Password is not valid
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <input type="password" placeholder="Confirm password"
             class="form-control" [(ngModel)]="confirmPassword" aria-describedby="cpHelp">
      <small id="cpHelp" class="form-text text-danger"
             [hidden]="password.untouched || user.password == confirmPassword">
        Password doesnt match
      </small>
    </div>
  </div>

  <div class="form-group row">
    <button
      [disabled]="!firstname.valid || !secondName.valid || !password.valid || !email.valid || !(user.password == confirmPassword) || (user.login.length < 1)"
      (click)="registerUser()"
      class="btn col blue">
      Register
    </button>
  </div>

</div>
